{% extends 'layout.html' %}
{% block body %}
 
  <main role="main">

    <center><h3><b>Made with &#10084; <a href="https://www.linkedin.com/in/singh-rahulkumar/"> Rahul Singh </a></b></h3></center>

    <div class="album py-5 bg-light">
      <div class="container">
        <div class="row">

          <!-- Boston Price Prediction -->
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <div class="image">
                <a href="/boston"> <img  class="img img-responsive" src="https://imgbb.com/"><img src="https://i.ibb.co/ZNj90cP/Boston-House-Price-Prediction-1.png" height="225px" width="100%" />
                  <h2 style="color: white"></h2>
                </a>
              </div>
            </div>
          </div>
          <!-- Diabetic Prediction -->
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <div class="image">
                <a href="/diabetic"> <img  class="img img-responsive" src="https://i.ibb.co/bBtDRSJ/Diabetes-Prediction.png" height="225px" width="100%" />
                  <h2></h2>
                </a>
              </div>
            </div>
          </div>
          <!-- Heart Disease Prediction -->
         <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <div class="image">
                <a href="/heart"> <img  class="img img-responsive" src="https://i.ibb.co/Gk9C6Tk/Heart-Disease-Prediction.png" height="225px" width="100%" />
                  <h2 style="color: black"></h2>
                </a>
              </div>
            </div>
          </div>

              

                <!-- Admission Prediction -->
         <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <div class="image">
                <a href="/admin"> <img  class="img img-responsive" src="https://i.ibb.co/RcsTsr2/Admission-Chance-Prediction.png" height="225px" width="100%" />
                  <h2 style="color: black"></h2>
                </a>
              </div>
            </div>
          </div>

             <!--- Car price prediction---->
         <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <div class="image">
                <a href="/car"> <img  class="img img-responsive" src="https://i.ibb.co/DfwBdp1/Car-Price-Prediction.png" height="225px" width="100%" />
                  <h2 style="color: black"></h2>
                </a>
              </div>
            </div>
          </div>

             
             <!-----------Loan approval prediction---------->

         <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <div class="image">
                <a href="/loan"> <img  class="img img-responsive" src="https://i.ibb.co/GRr4Fm3/Loan-Approval-Prediction.png" height="225px" width="100%" />
                  <h2 style="color: white"></h2>
                </a>
              </div>
            </div>
          </div>

            <!------------Data science salary-------->

            <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <div class="image">
                <a href="/datascience"> <img  class="img img-responsive" src="https://i.ibb.co/pds2Hn6/Data-Science-Salary-Prediction.png" height="225px" width="100%" />
                  <h2 style="color: white"></h2>
                </a>
              </div>
            </div>
          </div>

            <!-------------Employee attrition----------->

            <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <div class="image">
                <a href="/employee"> <img  class="img img-responsive" src="https://i.ibb.co/3hD0Rf1/Employee-Attrition.png" height="225px" width="100%" />
                  <h2 style="color: black"></h2>
                </a>
              </div>
            </div>
          </div>


            <!------------Cardio vascular diseasee--------->

            <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <div class="image">
                <a href="/cardio"> <img  class="img img-responsive" src="https://i.ibb.co/DRCBxPN/Cardiovascular-Disease.png" height="225px" width="100%" />
                  <h2 style="color: white"></h2>
                </a>
              </div>
            </div>
          </div>


          
        </div>
      </div>
    </div>
  </main>
{% endblock %}
